{% if site.data.experiences %}
<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

{% for experience in site.data.experiences %}
  <div class="item {% if forloop.first %} present-role {% endif %}">

    <div class="meta">
        {% if forloop.first %}
        <h4 class="theme-header">Current Role</h3>
        {% endif %}
      <div class="upper-row">
         
        <h3 class="job-title">{{ experience.role }}</h3>
        <div class="time">{{ experience.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ experience.company }}</div>

    </div><!--//meta-->

    {% if experience.details %}
    <div class="details">
      <p>{{ experience.details }}</p>
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
{% endfor %}

</section><!--//section-->
{% endif %}
