{% if site.data.projects %}
{% for intro in site.data.projects %}

{% if intro.show == true %}

<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Project Portfolio</h2>

  {% for intro in site.data.projects %}
  <div class="intro">
      <p>{{ intro.description }}</p>
  </div><!--//intro-->
  {% endfor%}

  {% for project in site.data.projects %}
    <div class="item">

      <span class="project-title">{% if project.link == '#' %} {{ project.title }} {% else %} <a href="{{ project.link }}" target="_blank" title="{{ project.title }} website link">{{ project.title }}</a> {% endif %} </span>
      {% if project.duration %} ({{project.duration}}){% endif %}
      {% if project.tagline %}
      - <span class="project-tagline">{{ project.tagline }} </span>
      {% endif %}

      <div class='screenshots'>
      {% for screenshot in project.screenshots %}
          <figure class="screenshot-item">
            <img src='{{site.baseurl}}/assets/images/screenshots/{{screenshot.img}}'/>
            <figcaption>{{screenshot.desc}}</figcaption>
          </figure>   
      {% endfor %}
      </div>

      <div class='skills'>
          {% for technology in project.technologies %}
          <span class="badge badge-default">{{technology}}</span>
          {% endfor %}
          </div>

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->


{% endif %}
{% endfor %}

{% endif %}
