.sidebar-wrapper{
    left:0;
    color:$sidebar-text;
    border-right: 1px solid $lighter-grey;
    a{
        color:$sidebar-text;
        }

        .btn{
            background-color: #e8e8e8;
            border-color: #ccc;
            &:hover{
                background-color: darken(#e8e8e8, 20%);
                color: $sidebar-text;
            }
        }
    .mobile-breaker{
        border-color:$lighter-grey;
    }
    .container-block{
        .meta, .time, .lang-desc{
            color:lighten($sidebar-text, 10%);
        }
    }

    .profile-container{
        background:white;
        color: $sidebar-text;
        border-bottom:1px solid $lighter-grey;
        .tagline{
            color: lighten($sidebar-text, 15%);
        }
    }
}

.main-wrapper{
    padding-left:300px;
    padding-right:60px;

    .section-title {
        color: lighten($text-color, 15%);
 
        .fa {
            background: lighten($text-color, 15%);
 
        }
    }
    .level-bar {
        background: $smoky-white;
    }
    .level-bar-inner {
        background: lighten($text-color, 15%);
        .level-description{
            color:white;
        }
    }
}

.visible-xs{
    .sidebar-wrapper{
        background:#e8e8e8;
    }
}