/* styles-5.css */
$theme-color: white;
$text-color: #3F4650;
$sidebar-text:$text-color;
$text-color-secondary: #545E6C;
$text-grey: #97AAC3;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #f5f5f5;










































































